# CONFIG_AB8500_USB is not set
# CONFIG_AD525X_DPOT is not set
# CONFIG_AD525X_DPOT_I2C is not set
# CONFIG_AHCI_BRCM is not set
# CONFIG_AHCI_DM816 is not set
# CONFIG_AHCI_IMX is not set
# CONFIG_AHCI_ST is not set
# CONFIG_AHCI_TEGRA is not set
# CONFIG_AM335X_PHY_USB is not set
# CONFIG_APDS9802ALS is not set
# CONFIG_APQ_MMCC_8084 is not set
# CONFIG_ARCH_ALPINE is not set
# CONFIG_ARCH_ARTPEC is not set
# CONFIG_ARCH_AT91 is not set
# CONFIG_ARCH_ATLAS6 is not set
# CONFIG_ARCH_ATLAS7 is not set
# CONFIG_ARCH_BCM is not set
# CONFIG_ARCH_BCM2835 is not set
# CONFIG_ARCH_BCM_21664 is not set
# CONFIG_ARCH_BCM_281XX is not set
# CONFIG_ARCH_BCM_5301X is not set
# CONFIG_ARCH_BCM_63XX is not set
# CONFIG_ARCH_BCM_CYGNUS is not set
# CONFIG_ARCH_BCM_HR2 is not set
# CONFIG_ARCH_BCM_IPROC is not set
# CONFIG_ARCH_BCM_MOBILE is not set
# CONFIG_ARCH_BCM_MOBILE_L2_CACHE is not set
# CONFIG_ARCH_BCM_MOBILE_SMC is not set
# CONFIG_ARCH_BCM_MOBILE_SMP is not set
# CONFIG_ARCH_BCM_NSP is not set
# CONFIG_ARCH_BERLIN is not set
# CONFIG_ARCH_BRCMSTB is not set
# CONFIG_ARCH_DIGICOLOR is not set
# CONFIG_ARCH_EMEV2 is not set
# CONFIG_ARCH_EXYNOS is not set
# CONFIG_ARCH_EXYNOS4 is not set
# CONFIG_ARCH_EXYNOS5 is not set
# CONFIG_ARCH_HAS_HOLES_MEMORYMODEL is not set
# CONFIG_ARCH_HI3xxx is not set
# CONFIG_ARCH_HIGHBANK is not set
# CONFIG_ARCH_HIP01 is not set
# CONFIG_ARCH_HIP04 is not set
# CONFIG_ARCH_HISI is not set
# CONFIG_ARCH_HIX5HD2 is not set
# CONFIG_ARCH_KEYSTONE is not set
# CONFIG_ARCH_MEDIATEK is not set
# CONFIG_ARCH_MESON is not set
# CONFIG_ARCH_MSM8960 is not set
# CONFIG_ARCH_MSM8974 is not set
# CONFIG_ARCH_MSM8X60 is not set
# CONFIG_ARCH_MVEBU is not set
# CONFIG_ARCH_MXC is not set
# CONFIG_ARCH_NEEDS_CPU_IDLE_COUPLED is not set
# CONFIG_ARCH_OMAP is not set
# CONFIG_ARCH_OMAP2PLUS is not set
# CONFIG_ARCH_OMAP2PLUS_TYPICAL is not set
# CONFIG_ARCH_OMAP3 is not set
# CONFIG_ARCH_OMAP4 is not set
# CONFIG_ARCH_PRIMA2 is not set
# CONFIG_ARCH_QCOM is not set
# CONFIG_ARCH_R7S72100 is not set
# CONFIG_ARCH_R8A73A4 is not set
# CONFIG_ARCH_R8A7740 is not set
# CONFIG_ARCH_R8A7743 is not set
# CONFIG_ARCH_R8A7744 is not set
# CONFIG_ARCH_R8A7745 is not set
# CONFIG_ARCH_R8A77470 is not set
# CONFIG_ARCH_R8A7778 is not set
# CONFIG_ARCH_R8A7779 is not set
# CONFIG_ARCH_R8A7790 is not set
# CONFIG_ARCH_R8A7791 is not set
# CONFIG_ARCH_R8A7792 is not set
# CONFIG_ARCH_R8A7793 is not set
# CONFIG_ARCH_R8A7794 is not set
# CONFIG_ARCH_R9A06G032 is not set
# CONFIG_ARCH_RENESAS is not set
# CONFIG_ARCH_ROCKCHIP is not set
# CONFIG_ARCH_SH73A0 is not set
# CONFIG_ARCH_SIRF is not set
# CONFIG_ARCH_SOCFPGA is not set
# CONFIG_ARCH_SPEAR13XX is not set
# CONFIG_ARCH_STI is not set
# CONFIG_ARCH_STM32 is not set
# CONFIG_ARCH_TEGRA is not set
# CONFIG_ARCH_TEGRA_114_SOC is not set
# CONFIG_ARCH_TEGRA_124_SOC is not set
# CONFIG_ARCH_TEGRA_2x_SOC is not set
# CONFIG_ARCH_TEGRA_3x_SOC is not set
# CONFIG_ARCH_U8500 is not set
# CONFIG_ARCH_UNIPHIER is not set
# CONFIG_ARCH_VEXPRESS is not set
# CONFIG_ARCH_VEXPRESS_SPC is not set
# CONFIG_ARCH_VEXPRESS_TC2_PM is not set
# CONFIG_ARCH_VIRT is not set
# CONFIG_ARCH_VT8500 is not set
# CONFIG_ARCH_WM8850 is not set
# CONFIG_ARCH_ZYNQ is not set
# CONFIG_ARMADA375_USBCLUSTER_PHY is not set
# CONFIG_ARMADA_370_CLK is not set
# CONFIG_ARMADA_370_XP_TIMER is not set
# CONFIG_ARMADA_375_CLK is not set
# CONFIG_ARMADA_38X_CLK is not set
# CONFIG_ARMADA_39X_CLK is not set
# CONFIG_ARMADA_THERMAL is not set
# CONFIG_ARMADA_XP_CLK is not set
# CONFIG_ARM_AMBA is not set
# CONFIG_ARM_AT91_CPUIDLE is not set
# CONFIG_ARM_BRCMSTB_AVS_CPUFREQ is not set
# CONFIG_ARM_EXYNOS_CPUIDLE is not set
# CONFIG_ARM_IMX6Q_CPUFREQ is not set
# CONFIG_ARM_SP805_WATCHDOG is not set
# CONFIG_ARM_TEGRA_DEVFREQ is not set
# CONFIG_ARM_ZYNQ_CPUIDLE is not set
# CONFIG_AT803X_PHY is not set
# CONFIG_AT91SAM9X_WATCHDOG is not set
# CONFIG_AT91_ADC is not set
# CONFIG_AT91_SAMA5D2_ADC is not set
# CONFIG_ATMEL_SSC is not set
# CONFIG_ATMEL_TCLIB is not set
# CONFIG_AT_HDMAC is not set
# CONFIG_AT_XDMAC is not set
# CONFIG_B53_MDIO_DRIVER is not set
# CONFIG_B53_MMAP_DRIVER is not set
# CONFIG_B53_SPI_DRIVER is not set
# CONFIG_B53_SRAB_DRIVER is not set
# CONFIG_BACKLIGHT_AS3711 is not set
# CONFIG_BATTERY_ACT8945A is not set
# CONFIG_BATTERY_CPCAP is not set
# CONFIG_BATTERY_MAX17040 is not set
# CONFIG_BATTERY_MAX17042 is not set
# CONFIG_BATTERY_SBS is not set
# CONFIG_BCM2835_MBOX is not set
# CONFIG_BCM2835_THERMAL is not set
# CONFIG_BCM2835_WDT is not set
# CONFIG_BCM47XX_NVRAM is not set
# CONFIG_BCM47XX_SPROM is not set
# CONFIG_BCM47XX_WDT is not set
# CONFIG_BCM7038_WDT is not set
# CONFIG_BCMA_DRIVER_GMAC_CMN is not set
# CONFIG_BCMA_DRIVER_GPIO is not set
# CONFIG_BCMA_HOST_SOC is not set
# CONFIG_BCMGENET is not set
# CONFIG_BCM_KONA_WDT is not set
# CONFIG_BERLIN2_ADC is not set
# CONFIG_BGMAC_BCMA is not set
# CONFIG_BLK_DEV_LOOP is not set
# CONFIG_BLK_DEV_RAM is not set
# CONFIG_BLK_DEV_RAM_SIZE is not set
# CONFIG_BLK_DEV_SR is not set
# CONFIG_BRCMFMAC is not set
# CONFIG_BRCMSTB_THERMAL is not set
# CONFIG_BROADCOM_PHY is not set
# CONFIG_BT_HCIUART is not set
# CONFIG_BT_HCIUART_BCM is not set
# CONFIG_BT_MRVL is not set
# CONFIG_BT_MRVL_SDIO is not set
# CONFIG_CAN_AT91 is not set
# CONFIG_CAN_FLEXCAN is not set
# CONFIG_CAN_MCP251X is not set
# CONFIG_CAN_RCAR is not set
# CONFIG_CAN_XILINXCAN is not set
# CONFIG_CEC_PLATFORM_DRIVERS is not set
# CONFIG_CHARGER_CPCAP is not set
# CONFIG_CHARGER_MAX14577 is not set
# CONFIG_CHARGER_MAX77693 is not set
# CONFIG_CHARGER_MAX8997 is not set
# CONFIG_CHARGER_MAX8998 is not set
# CONFIG_CHARGER_TPS65090 is not set
# CONFIG_COMMON_CLK_MAX77686 is not set
# CONFIG_COMMON_CLK_QCOM is not set
# CONFIG_COMMON_CLK_RK808 is not set
# CONFIG_COMMON_CLK_S2MPS11 is not set
# CONFIG_CPCAP_ADC is not set
# CONFIG_CROS_EC_I2C is not set
# CONFIG_CROS_EC_SPI is not set
# CONFIG_DA9063_WATCHDOG is not set
# CONFIG_DAVINCI_WATCHDOG is not set
# CONFIG_DIGICOLOR_WATCHDOG is not set
# CONFIG_DMA_BCM2835 is not set
# CONFIG_DRM_ATMEL_HLCDC is not set
# CONFIG_DRM_ETNAVIV is not set
# CONFIG_DRM_EXYNOS is not set
# CONFIG_DRM_EXYNOS_DPI is not set
# CONFIG_DRM_EXYNOS_DSI is not set
# CONFIG_DRM_EXYNOS_FIMD is not set
# CONFIG_DRM_EXYNOS_HDMI is not set
# CONFIG_DRM_EXYNOS_MIXER is not set
# CONFIG_DRM_FSL_DCU is not set
# CONFIG_DRM_I2C_ADV7511 is not set
# CONFIG_DRM_I2C_ADV7511_AUDIO is not set
# CONFIG_DRM_I2C_CH7006 is not set
# CONFIG_DRM_I2C_SIL164 is not set
# CONFIG_DRM_MXSFB is not set
# CONFIG_DRM_NOUVEAU is not set
# CONFIG_DRM_NXP_PTN3460 is not set
# CONFIG_DRM_PANEL_ORISETECH_OTM8009A is not set
# CONFIG_DRM_PANEL_RAYDIUM_RM68200 is not set
# CONFIG_DRM_PANEL_SAMSUNG_LD9040 is not set
# CONFIG_DRM_PANEL_SAMSUNG_S6E63J0X03 is not set
# CONFIG_DRM_PANEL_SAMSUNG_S6E8AA0 is not set
# CONFIG_DRM_PARADE_PS8622 is not set
# CONFIG_DRM_RCAR_DU is not set
# CONFIG_DRM_RCAR_LVDS is not set
# CONFIG_DRM_ROCKCHIP is not set
# CONFIG_DRM_SII9234 is not set
# CONFIG_DRM_STI is not set
# CONFIG_DRM_STM is not set
# CONFIG_DRM_STM_DSI is not set
# CONFIG_DRM_TEGRA is not set
# CONFIG_DRM_VC4 is not set
# CONFIG_DWMAC_DWC_QOS_ETH is not set
# CONFIG_DW_DMAC is not set
# CONFIG_DW_WATCHDOG is not set
# CONFIG_E1000E is not set
# CONFIG_EDAC_HIGHBANK_L2 is not set
# CONFIG_EDAC_HIGHBANK_MC is not set
# CONFIG_EEPROM_AT24 is not set
# CONFIG_EFI is not set
# CONFIG_EFI_CAPSULE_LOADER is not set
# CONFIG_EFI_VARS is not set
# CONFIG_EXYNOS5420_MCPM is not set
# CONFIG_EXYNOS_ADC is not set
# CONFIG_FB_ARMCLCD is not set
# CONFIG_FB_EFI is not set
# CONFIG_FB_SH_MOBILE_LCDC is not set
# CONFIG_FB_WM8505 is not set
# CONFIG_FSL_EDMA is not set
# CONFIG_GIANFAR is not set
# CONFIG_GPIO_DAVINCI is not set
# CONFIG_GPIO_DWAPB is not set
# CONFIG_GPIO_EM is not set
# CONFIG_GPIO_PALMAS is not set
# CONFIG_GPIO_PCA953X is not set
# CONFIG_GPIO_PCA953X_IRQ is not set
# CONFIG_GPIO_PCF857X is not set
# CONFIG_GPIO_RCAR is not set
# CONFIG_GPIO_SYSCON is not set
# CONFIG_GPIO_TPS6586X is not set
# CONFIG_GPIO_TPS65910 is not set
# CONFIG_GPIO_TWL4030 is not set
# CONFIG_GPIO_UNIPHIER is not set
# CONFIG_GPIO_XILINX is not set
# CONFIG_GPIO_ZYNQ is not set
# CONFIG_HIX5HD2_GMAC is not set
# CONFIG_HW_RANDOM_ST is not set
# CONFIG_I2C_ARB_GPIO_CHALLENGE is not set
# CONFIG_I2C_AT91 is not set
# CONFIG_I2C_BCM2835 is not set
# CONFIG_I2C_CADENCE is not set
# CONFIG_I2C_CROS_EC_TUNNEL is not set
# CONFIG_I2C_DAVINCI is not set
# CONFIG_I2C_DEMUX_PINCTRL is not set
# CONFIG_I2C_DESIGNWARE_PLATFORM is not set
# CONFIG_I2C_DIGICOLOR is not set
# CONFIG_I2C_EMEV2 is not set
# CONFIG_I2C_IMX is not set
# CONFIG_I2C_MESON is not set
# CONFIG_I2C_MUX_PCA954x is not set
# CONFIG_I2C_MUX_PINCTRL is not set
# CONFIG_I2C_RCAR is not set
# CONFIG_I2C_RIIC is not set
# CONFIG_I2C_RK3X is not set
# CONFIG_I2C_S3C2410 is not set
# CONFIG_I2C_SH_MOBILE is not set
# CONFIG_I2C_SIRF is not set
# CONFIG_I2C_SLAVE_EEPROM is not set
# CONFIG_I2C_ST is not set
# CONFIG_I2C_STM32F7 is not set
# CONFIG_I2C_TEGRA is not set
# CONFIG_I2C_UNIPHIER is not set
# CONFIG_I2C_UNIPHIER_F is not set
# CONFIG_I2C_XILINX is not set
# CONFIG_ICPLUS_PHY is not set
# CONFIG_ICS932S401 is not set
# CONFIG_IGB is not set
# CONFIG_IIO_HRTIMER_TRIGGER is not set
# CONFIG_IIO_SW_TRIGGER is not set
# CONFIG_IMX2_WDT is not set
# CONFIG_IMX_DMA is not set
# CONFIG_IMX_SDMA is not set
# CONFIG_IMX_THERMAL is not set
# CONFIG_INPUT_ADXL34X is not set
# CONFIG_INPUT_CPCAP_PWRBUTTON is not set
# CONFIG_INPUT_MAX77693_HAPTIC is not set
# CONFIG_INPUT_MAX8997_HAPTIC is not set
# CONFIG_IP_PNP_RARP is not set
# CONFIG_ISL29003 is not set
# CONFIG_KEYBOARD_CROS_EC is not set
# CONFIG_KEYBOARD_NVEC is not set
# CONFIG_KEYBOARD_QT1070 is not set
# CONFIG_KEYBOARD_SAMSUNG is not set
# CONFIG_KEYBOARD_SPEAR is not set
# CONFIG_KEYBOARD_ST_KEYSCAN is not set
# CONFIG_KEYBOARD_TEGRA is not set
# CONFIG_KEYSTONE_IRQ is not set
# CONFIG_KEYSTONE_USB_PHY is not set
# CONFIG_KS8851 is not set
# CONFIG_LEDS_CPCAP is not set
# CONFIG_LEDS_MAX77693 is not set
# CONFIG_LEDS_MAX8997 is not set
# CONFIG_MACB is not set
# CONFIG_MACH_ARMADA_370 is not set
# CONFIG_MACH_ARMADA_375 is not set
# CONFIG_MACH_ARMADA_38X is not set
# CONFIG_MACH_ARMADA_39X is not set
# CONFIG_MACH_ARMADA_XP is not set
# CONFIG_MACH_ARTPEC6 is not set
# CONFIG_MACH_BERLIN_BG2 is not set
# CONFIG_MACH_BERLIN_BG2CD is not set
# CONFIG_MACH_BERLIN_BG2Q is not set
# CONFIG_MACH_DOVE is not set
# CONFIG_MACH_MESON6 is not set
# CONFIG_MACH_MESON8 is not set
# CONFIG_MACH_MT2701 is not set
# CONFIG_MACH_MT6589 is not set
# CONFIG_MACH_MT6592 is not set
# CONFIG_MACH_MT7623 is not set
# CONFIG_MACH_MT8127 is not set
# CONFIG_MACH_MT8135 is not set
# CONFIG_MACH_MVEBU_ANY is not set
# CONFIG_MACH_MVEBU_V7 is not set
# CONFIG_MACH_OMAP3517EVM is not set
# CONFIG_MACH_OMAP3_PANDORA is not set
# CONFIG_MACH_OMAP_GENERIC is not set
# CONFIG_MACH_SPEAR1310 is not set
# CONFIG_MACH_SPEAR1340 is not set
# CONFIG_MACH_SUN6I is not set
# CONFIG_MACH_SUN7I is not set
# CONFIG_MACH_SUN8I is not set
# CONFIG_MACH_SUN9I is not set
# CONFIG_MARVELL_PHY is not set
# CONFIG_MEDIA_CEC_SUPPORT is not set
# CONFIG_MEDIA_SUBDRV_AUTOSELECT is not set
# CONFIG_MESON_WATCHDOG is not set
# CONFIG_MFD_ACT8945A is not set
# CONFIG_MFD_AS3711 is not set
# CONFIG_MFD_AS3722 is not set
# CONFIG_MFD_ATMEL_FLEXCOM is not set
# CONFIG_MFD_ATMEL_HLCDC is not set
# CONFIG_MFD_BCM590XX is not set
# CONFIG_MFD_CPCAP is not set
# CONFIG_MFD_CROS_EC is not set
# CONFIG_MFD_DA9063 is not set
# CONFIG_MFD_MAX14577 is not set
# CONFIG_MFD_MAX77686 is not set
# CONFIG_MFD_MAX77693 is not set
# CONFIG_MFD_MAX8907 is not set
# CONFIG_MFD_MAX8997 is not set
# CONFIG_MFD_MAX8998 is not set
# CONFIG_MFD_NVEC is not set
# CONFIG_MFD_PALMAS is not set
# CONFIG_MFD_PM8XXX is not set
# CONFIG_MFD_QCOM_RPM is not set
# CONFIG_MFD_RK808 is not set
# CONFIG_MFD_RN5T618 is not set
# CONFIG_MFD_SEC_CORE is not set
# CONFIG_MFD_SPMI_PMIC is not set
# CONFIG_MFD_STMPE is not set
# CONFIG_MFD_TPS65090 is not set
# CONFIG_MFD_TPS65217 is not set
# CONFIG_MFD_TPS65218 is not set
# CONFIG_MFD_TPS6586X is not set
# CONFIG_MFD_TPS65910 is not set
# CONFIG_MICREL_PHY is not set
# CONFIG_MMC_ARMMMCI is not set
# CONFIG_MMC_ATMELMCI is not set
# CONFIG_MMC_BCM2835 is not set
# CONFIG_MMC_DW is not set
# CONFIG_MMC_DW_EXYNOS is not set
# CONFIG_MMC_DW_ROCKCHIP is not set
# CONFIG_MMC_MESON_MX_SDIO is not set
# CONFIG_MMC_MVSDIO is not set
# CONFIG_MMC_OMAP is not set
# CONFIG_MMC_OMAP_HS is not set
# CONFIG_MMC_SDHCI is not set
# CONFIG_MMC_SDHCI_BCM_KONA is not set
# CONFIG_MMC_SDHCI_DOVE is not set
# CONFIG_MMC_SDHCI_ESDHC_IMX is not set
# CONFIG_MMC_SDHCI_MSM is not set
# CONFIG_MMC_SDHCI_OF_ARASAN is not set
# CONFIG_MMC_SDHCI_OF_AT91 is not set
# CONFIG_MMC_SDHCI_OF_ESDHC is not set
# CONFIG_MMC_SDHCI_OMAP is not set
# CONFIG_MMC_SDHCI_PLTFM is not set
# CONFIG_MMC_SDHCI_PXAV3 is not set
# CONFIG_MMC_SDHCI_S3C is not set
# CONFIG_MMC_SDHCI_S3C_DMA is not set
# CONFIG_MMC_SDHCI_SPEAR is not set
# CONFIG_MMC_SDHCI_ST is not set
# CONFIG_MMC_SDHCI_TEGRA is not set
# CONFIG_MMC_SDHI is not set
# CONFIG_MMC_SH_MMCIF is not set
# CONFIG_MMC_UNIPHIER is not set
# CONFIG_MOUSE_CYAPA is not set
# CONFIG_MOUSE_ELAN_I2C is not set
# CONFIG_MOUSE_PS2_ELANTECH is not set
# CONFIG_MSM_GCC_8660 is not set
# CONFIG_MSM_MMCC_8960 is not set
# CONFIG_MSM_MMCC_8974 is not set
# CONFIG_MTD_M25P80 is not set
# CONFIG_MTD_NAND_ATMEL is not set
# CONFIG_MTD_NAND_BRCMNAND is not set
# CONFIG_MTD_NAND_DAVINCI is not set
# CONFIG_MTD_NAND_DENALI_DT is not set
# CONFIG_MTD_NAND_GPMI_NAND is not set
# CONFIG_MTD_NAND_MARVELL is not set
# CONFIG_MTD_NAND_OMAP2 is not set
# CONFIG_MTD_NAND_OMAP_BCH is not set
# CONFIG_MTD_NAND_VF610_NFC is not set
# CONFIG_MV643XX_ETH is not set
# CONFIG_MVNETA is not set
# CONFIG_MV_XOR is not set
# CONFIG_MWIFIEX is not set
# CONFIG_MWIFIEX_SDIO is not set
# CONFIG_MXS_DMA is not set
# CONFIG_NET_CALXEDA_XGMAC is not set
# CONFIG_NET_DSA is not set
# CONFIG_NET_DSA_BCM_SF2 is not set
# CONFIG_NVEC_PAZ00 is not set
# CONFIG_NVEC_POWER is not set
# CONFIG_NVMEM_IMX_OCOTP is not set
# CONFIG_NVMEM_VF610_OCOTP is not set
# CONFIG_OMAP_OCP2SCP is not set
# CONFIG_OMAP_USB2 is not set
# CONFIG_ORION_WATCHDOG is not set
# CONFIG_PCIEPORTBUS is not set
# CONFIG_PCIE_RCAR is not set
# CONFIG_PCI_DRA7XX_EP is not set
# CONFIG_PCI_ENDPOINT is not set
# CONFIG_PCI_ENDPOINT_CONFIGFS is not set
# CONFIG_PCI_ENDPOINT_TEST is not set
# CONFIG_PCI_EPF_TEST is not set
# CONFIG_PCI_KEYSTONE is not set
# CONFIG_PCI_MVEBU is not set
# CONFIG_PCI_RCAR_GEN2 is not set
# CONFIG_PCI_TEGRA is not set
# CONFIG_PHY_BERLIN_SATA is not set
# CONFIG_PHY_BERLIN_USB is not set
# CONFIG_PHY_CPCAP_USB is not set
# CONFIG_PHY_DM816X_USB is not set
# CONFIG_PHY_HIX5HD2_SATA is not set
# CONFIG_PHY_MIPHY28LP is not set
# CONFIG_PHY_QCOM_APQ8064_SATA is not set
# CONFIG_PHY_RCAR_GEN2 is not set
# CONFIG_PHY_ROCKCHIP_DP is not set
# CONFIG_PHY_ROCKCHIP_USB is not set
# CONFIG_PHY_SAMSUNG_USB2 is not set
# CONFIG_PHY_STIH407_USB is not set
# CONFIG_PHY_STM32_USBPHYC is not set
# CONFIG_PHY_TEGRA_XUSB is not set
# CONFIG_PHY_UNIPHIER_USB2 is not set
# CONFIG_PHY_UNIPHIER_USB3 is not set
# CONFIG_PINCTRL_APQ8064 is not set
# CONFIG_PINCTRL_APQ8084 is not set
# CONFIG_PINCTRL_AS3722 is not set
# CONFIG_PINCTRL_IPQ8064 is not set
# CONFIG_PINCTRL_MSM8660 is not set
# CONFIG_PINCTRL_MSM8916 is not set
# CONFIG_PINCTRL_MSM8960 is not set
# CONFIG_PINCTRL_MSM8X74 is not set
# CONFIG_PINCTRL_PALMAS is not set
# CONFIG_PINCTRL_QCOM_SPMI_PMIC is not set
# CONFIG_PINCTRL_QCOM_SSBI_PMIC is not set
# CONFIG_PINCTRL_ZYNQ is not set
# CONFIG_PL330_DMA is not set
# CONFIG_PLAT_ORION is not set
# CONFIG_PLAT_SAMSUNG is not set
# CONFIG_PLAT_SPEAR is not set
# CONFIG_PLAT_VERSATILE is not set
# CONFIG_PM_DEVFREQ is not set
# CONFIG_POWER_AVS is not set
# CONFIG_POWER_RESET_AS3722 is not set
# CONFIG_POWER_RESET_KEYSTONE is not set
# CONFIG_POWER_RESET_RMOBILE is not set
# CONFIG_POWER_RESET_ST is not set
# CONFIG_PSTORE is not set
# CONFIG_PSTORE_CONSOLE is not set
# CONFIG_PSTORE_PMSG is not set
# CONFIG_PSTORE_RAM is not set
# CONFIG_PWM_ATMEL is not set
# CONFIG_PWM_ATMEL_HLCDC_PWM is not set
# CONFIG_PWM_ATMEL_TCB is not set
# CONFIG_PWM_BCM2835 is not set
# CONFIG_PWM_BRCMSTB is not set
# CONFIG_PWM_FSL_FTM is not set
# CONFIG_PWM_MESON is not set
# CONFIG_PWM_RCAR is not set
# CONFIG_PWM_RENESAS_TPU is not set
# CONFIG_PWM_ROCKCHIP is not set
# CONFIG_PWM_SAMSUNG is not set
# CONFIG_PWM_STI is not set
# CONFIG_PWM_TEGRA is not set
# CONFIG_PWM_VT8500 is not set
# CONFIG_PXA168_ETH is not set
# CONFIG_QCOM_BAM_DMA is not set
# CONFIG_QCOM_CLK_RPM is not set
# CONFIG_QCOM_COINCELL is not set
# CONFIG_QCOM_GSBI is not set
# CONFIG_QCOM_PM is not set
# CONFIG_QCOM_SMD_RPM is not set
# CONFIG_QCOM_WCNSS_CTRL is not set
# CONFIG_QORIQ_CPUFREQ is not set
# CONFIG_R8169 is not set
# CONFIG_RASPBERRYPI_FIRMWARE is not set
# CONFIG_RASPBERRYPI_POWER is not set
# CONFIG_RCAR_DMAC is not set
# CONFIG_RCAR_THERMAL is not set
# CONFIG_REALTEK_PHY is not set
# CONFIG_REGULATOR_AB8500 is not set
# CONFIG_REGULATOR_ACT8865 is not set
# CONFIG_REGULATOR_ACT8945A is not set
# CONFIG_REGULATOR_ANATOP is not set
# CONFIG_REGULATOR_AS3711 is not set
# CONFIG_REGULATOR_AS3722 is not set
# CONFIG_REGULATOR_BCM590XX is not set
# CONFIG_REGULATOR_CPCAP is not set
# CONFIG_REGULATOR_DA9210 is not set
# CONFIG_REGULATOR_FAN53555 is not set
# CONFIG_REGULATOR_LP872X is not set
# CONFIG_REGULATOR_MAX14577 is not set
# CONFIG_REGULATOR_MAX77686 is not set
# CONFIG_REGULATOR_MAX77693 is not set
# CONFIG_REGULATOR_MAX77802 is not set
# CONFIG_REGULATOR_MAX8907 is not set
# CONFIG_REGULATOR_MAX8973 is not set
# CONFIG_REGULATOR_MAX8997 is not set
# CONFIG_REGULATOR_MAX8998 is not set
# CONFIG_REGULATOR_PALMAS is not set
# CONFIG_REGULATOR_PBIAS is not set
# CONFIG_REGULATOR_QCOM_RPM is not set
# CONFIG_REGULATOR_QCOM_SMD_RPM is not set
# CONFIG_REGULATOR_RK808 is not set
# CONFIG_REGULATOR_RN5T618 is not set
# CONFIG_REGULATOR_S2MPS11 is not set
# CONFIG_REGULATOR_S5M8767 is not set
# CONFIG_REGULATOR_TI_ABB is not set
# CONFIG_REGULATOR_TPS51632 is not set
# CONFIG_REGULATOR_TPS62360 is not set
# CONFIG_REGULATOR_TPS65090 is not set
# CONFIG_REGULATOR_TPS65217 is not set
# CONFIG_REGULATOR_TPS65218 is not set
# CONFIG_REGULATOR_TPS6586X is not set
# CONFIG_REGULATOR_TPS65910 is not set
# CONFIG_REGULATOR_TWL4030 is not set
# CONFIG_REGULATOR_VEXPRESS is not set
# CONFIG_REGULATOR_WM8994 is not set
# CONFIG_RENESAS_USB_DMAC is not set
# CONFIG_RENESAS_WDT is not set
# CONFIG_RN5T618_WATCHDOG is not set
# CONFIG_ROCKCHIP_ANALOGIX_DP is not set
# CONFIG_ROCKCHIP_DW_HDMI is not set
# CONFIG_ROCKCHIP_DW_MIPI_DSI is not set
# CONFIG_ROCKCHIP_INNO_HDMI is not set
# CONFIG_ROCKCHIP_IODOMAIN is not set
# CONFIG_ROCKCHIP_IOMMU is not set
# CONFIG_ROCKCHIP_PHY is not set
# CONFIG_ROCKCHIP_PM_DOMAINS is not set
# CONFIG_ROCKCHIP_THERMAL is not set
# CONFIG_RPMSG_VIRTIO is not set
# CONFIG_RT2800USB is not set
# CONFIG_RT2X00 is not set
# CONFIG_RTC_DRV_AS3722 is not set
# CONFIG_RTC_DRV_AT91RM9200 is not set
# CONFIG_RTC_DRV_AT91SAM9 is not set
# CONFIG_RTC_DRV_BQ32K is not set
# CONFIG_RTC_DRV_CPCAP is not set
# CONFIG_RTC_DRV_DA9063 is not set
# CONFIG_RTC_DRV_DIGICOLOR is not set
# CONFIG_RTC_DRV_EFI is not set
# CONFIG_RTC_DRV_EM3027 is not set
# CONFIG_RTC_DRV_HYM8563 is not set
# CONFIG_RTC_DRV_MAX77686 is not set
# CONFIG_RTC_DRV_MAX8907 is not set
# CONFIG_RTC_DRV_MAX8997 is not set
# CONFIG_RTC_DRV_MAX8998 is not set
# CONFIG_RTC_DRV_MV is not set
# CONFIG_RTC_DRV_PALMAS is not set
# CONFIG_RTC_DRV_PL031 is not set
# CONFIG_RTC_DRV_RK808 is not set
# CONFIG_RTC_DRV_RS5C372 is not set
# CONFIG_RTC_DRV_RX8581 is not set
# CONFIG_RTC_DRV_S35390A is not set
# CONFIG_RTC_DRV_S3C is not set
# CONFIG_RTC_DRV_S5M is not set
# CONFIG_RTC_DRV_STM32 is not set
# CONFIG_RTC_DRV_ST_LPC is not set
# CONFIG_RTC_DRV_TEGRA is not set
# CONFIG_RTC_DRV_TPS6586X is not set
# CONFIG_RTC_DRV_TPS65910 is not set
# CONFIG_RTC_DRV_TWL4030 is not set
# CONFIG_RTC_DRV_VT8500 is not set
# CONFIG_SAMA5D4_WATCHDOG is not set
# CONFIG_SATA_AHCI is not set
# CONFIG_SATA_AHCI_PLATFORM is not set
# CONFIG_SATA_HIGHBANK is not set
# CONFIG_SATA_MV is not set
# CONFIG_SATA_RCAR is not set
# CONFIG_SENSORS_IIO_HWMON is not set
# CONFIG_SENSORS_INA2XX is not set
# CONFIG_SENSORS_LM90 is not set
# CONFIG_SENSORS_LM95245 is not set
# CONFIG_SENSORS_NTC_THERMISTOR is not set
# CONFIG_SENSORS_RASPBERRYPI_HWMON is not set
# CONFIG_SERIAL_8250_BCM2835AUX is not set
# CONFIG_SERIAL_8250_EM is not set
# CONFIG_SERIAL_8250_EXTENDED is not set
# CONFIG_SERIAL_8250_MT6577 is not set
# CONFIG_SERIAL_8250_SHARE_IRQ is not set
# CONFIG_SERIAL_8250_UNIPHIER is not set
# CONFIG_SERIAL_AMBA_PL011 is not set
# CONFIG_SERIAL_AMBA_PL011_CONSOLE is not set
# CONFIG_SERIAL_ATMEL is not set
# CONFIG_SERIAL_ATMEL_CONSOLE is not set
# CONFIG_SERIAL_ATMEL_TTYAT is not set
# CONFIG_SERIAL_BCM63XX is not set
# CONFIG_SERIAL_BCM63XX_CONSOLE is not set
# CONFIG_SERIAL_CONEXANT_DIGICOLOR is not set
# CONFIG_SERIAL_CONEXANT_DIGICOLOR_CONSOLE is not set
# CONFIG_SERIAL_DEV_BUS is not set
# CONFIG_SERIAL_FSL_LPUART is not set
# CONFIG_SERIAL_FSL_LPUART_CONSOLE is not set
# CONFIG_SERIAL_IMX is not set
# CONFIG_SERIAL_IMX_CONSOLE is not set
# CONFIG_SERIAL_MESON is not set
# CONFIG_SERIAL_MESON_CONSOLE is not set
# CONFIG_SERIAL_MSM is not set
# CONFIG_SERIAL_MSM_CONSOLE is not set
# CONFIG_SERIAL_OMAP is not set
# CONFIG_SERIAL_OMAP_CONSOLE is not set
# CONFIG_SERIAL_SAMSUNG is not set
# CONFIG_SERIAL_SAMSUNG_CONSOLE is not set
# CONFIG_SERIAL_SH_SCI is not set
# CONFIG_SERIAL_SH_SCI_NR_UARTS is not set
# CONFIG_SERIAL_SIRFSOC is not set
# CONFIG_SERIAL_SIRFSOC_CONSOLE is not set
# CONFIG_SERIAL_STM32 is not set
# CONFIG_SERIAL_STM32_CONSOLE is not set
# CONFIG_SERIAL_ST_ASC is not set
# CONFIG_SERIAL_ST_ASC_CONSOLE is not set
# CONFIG_SERIAL_TEGRA is not set
# CONFIG_SERIAL_VT8500 is not set
# CONFIG_SERIAL_VT8500_CONSOLE is not set
# CONFIG_SERIAL_XILINX_PS_UART is not set
# CONFIG_SERIAL_XILINX_PS_UART_CONSOLE is not set
# CONFIG_SERIO_AMBAKMI is not set
# CONFIG_SERIO_NVEC_PS2 is not set
# CONFIG_SH_DMAE is not set
# CONFIG_SH_ETH is not set
# CONFIG_SIMPLE_PM_BUS is not set
# CONFIG_SIRF_DMA is not set
# CONFIG_SMSC911X is not set
# CONFIG_SMSC_PHY is not set
# CONFIG_SND_ATMEL_SOC is not set
# CONFIG_SND_ATMEL_SOC_I2S is not set
# CONFIG_SND_ATMEL_SOC_PDMIC is not set
# CONFIG_SND_ATMEL_SOC_WM8904 is not set
# CONFIG_SND_BCM2835_SOC_I2S is not set
# CONFIG_SND_HDA_CODEC_HDMI is not set
# CONFIG_SND_HDA_CODEC_REALTEK is not set
# CONFIG_SND_HDA_INPUT_BEEP is not set
# CONFIG_SND_HDA_PATCH_LOADER is not set
# CONFIG_SND_HDA_TEGRA is not set
# CONFIG_SND_SIMPLE_SCU_CARD is not set
# CONFIG_SND_SOC_AK4642 is not set
# CONFIG_SND_SOC_CPCAP is not set
# CONFIG_SND_SOC_FSL_SAI is not set
# CONFIG_SND_SOC_ODROID is not set
# CONFIG_SND_SOC_RCAR is not set
# CONFIG_SND_SOC_ROCKCHIP is not set
# CONFIG_SND_SOC_ROCKCHIP_MAX98090 is not set
# CONFIG_SND_SOC_ROCKCHIP_RT5645 is not set
# CONFIG_SND_SOC_ROCKCHIP_SPDIF is not set
# CONFIG_SND_SOC_SAMSUNG is not set
# CONFIG_SND_SOC_SAMSUNG_SMDK_WM8994 is not set
# CONFIG_SND_SOC_SGTL5000 is not set
# CONFIG_SND_SOC_SH4_FSI is not set
# CONFIG_SND_SOC_SMDK_WM8994_PCM is not set
# CONFIG_SND_SOC_SNOW is not set
# CONFIG_SND_SOC_SPDIF is not set
# CONFIG_SND_SOC_STI is not set
# CONFIG_SND_SOC_STI_SAS is not set
# CONFIG_SND_SOC_TEGRA is not set
# CONFIG_SND_SOC_TEGRA20_I2S is not set
# CONFIG_SND_SOC_TEGRA30_I2S is not set
# CONFIG_SND_SOC_TEGRA_ALC5632 is not set
# CONFIG_SND_SOC_TEGRA_MAX98090 is not set
# CONFIG_SND_SOC_TEGRA_RT5640 is not set
# CONFIG_SND_SOC_TEGRA_TRIMSLICE is not set
# CONFIG_SND_SOC_TEGRA_WM8753 is not set
# CONFIG_SND_SOC_TEGRA_WM8903 is not set
# CONFIG_SND_SOC_TEGRA_WM9712 is not set
# CONFIG_SND_SOC_WM8978 is not set
# CONFIG_SNI_AVE is not set
# CONFIG_SOC_AM33XX is not set
# CONFIG_SOC_AM43XX is not set
# CONFIG_SOC_BRCMSTB is not set
# CONFIG_SOC_BUS is not set
# CONFIG_SOC_CAMERA_PLATFORM is not set
# CONFIG_SOC_DRA7XX is not set
# CONFIG_SOC_EXYNOS4412 is not set
# CONFIG_SOC_EXYNOS5250 is not set
# CONFIG_SOC_EXYNOS5260 is not set
# CONFIG_SOC_EXYNOS5410 is not set
# CONFIG_SOC_EXYNOS5420 is not set
# CONFIG_SOC_EXYNOS5800 is not set
# CONFIG_SOC_HAS_OMAP2_SDRC is not set
# CONFIG_SOC_HAS_REALTIME_COUNTER is not set
# CONFIG_SOC_IMX5 is not set
# CONFIG_SOC_IMX50 is not set
# CONFIG_SOC_IMX51 is not set
# CONFIG_SOC_IMX53 is not set
# CONFIG_SOC_IMX6 is not set
# CONFIG_SOC_IMX6Q is not set
# CONFIG_SOC_IMX6SL is not set
# CONFIG_SOC_IMX6SX is not set
# CONFIG_SOC_IMX6UL is not set
# CONFIG_SOC_IMX7D is not set
# CONFIG_SOC_IMX7D_CA7 is not set
# CONFIG_SOC_LS1021A is not set
# CONFIG_SOC_OMAP3430 is not set
# CONFIG_SOC_OMAP5 is not set
# CONFIG_SOC_SAMA5 is not set
# CONFIG_SOC_SAMA5D2 is not set
# CONFIG_SOC_SAMA5D3 is not set
# CONFIG_SOC_SAMA5D4 is not set
# CONFIG_SOC_SAMSUNG is not set
# CONFIG_SOC_SAM_V7 is not set
# CONFIG_SOC_STIH407 is not set
# CONFIG_SOC_STIH415 is not set
# CONFIG_SOC_STIH416 is not set
# CONFIG_SOC_TEGRA_FLOWCTRL is not set
# CONFIG_SOC_TEGRA_FUSE is not set
# CONFIG_SOC_TEGRA_PMC is not set
# CONFIG_SOC_TI81XX is not set
# CONFIG_SOC_VF610 is not set
# CONFIG_SPI_ATMEL is not set
# CONFIG_SPI_BCM2835 is not set
# CONFIG_SPI_BCM2835AUX is not set
# CONFIG_SPI_CADENCE is not set
# CONFIG_SPI_DAVINCI is not set
# CONFIG_SPI_FSL_DSPI is not set
# CONFIG_SPI_FSL_QUADSPI is not set
# CONFIG_SPI_GPIO is not set
# CONFIG_SPI_OMAP24XX is not set
# CONFIG_SPI_ORION is not set
# CONFIG_SPI_PL022 is not set
# CONFIG_SPI_ROCKCHIP is not set
# CONFIG_SPI_RSPI is not set
# CONFIG_SPI_S3C64XX is not set
# CONFIG_SPI_SH_HSPI is not set
# CONFIG_SPI_SH_MSIOF is not set
# CONFIG_SPI_SIRF is not set
# CONFIG_SPI_SPIDEV is not set
# CONFIG_SPI_STM32 is not set
# CONFIG_SPI_TEGRA114 is not set
# CONFIG_SPI_TEGRA20_SFLASH is not set
# CONFIG_SPI_TEGRA20_SLINK is not set
# CONFIG_SPI_XILINX is not set
# CONFIG_SPMI is not set
# CONFIG_STAGING_BOARD is not set
# CONFIG_STE_DMA40 is not set
# CONFIG_STM32_DMA is not set
# CONFIG_STM32_DMAMUX is not set
# CONFIG_STM32_MDMA is not set
# CONFIG_ST_FDMA is not set
# CONFIG_ST_LPC_WATCHDOG is not set
# CONFIG_ST_REMOTEPROC is not set
# CONFIG_ST_THERMAL_MEMMAP is not set
# CONFIG_SYSTEMPORT is not set
# CONFIG_TEGRA20_APB_DMA is not set
# CONFIG_TEGRA_IOMMU_GART is not set
# CONFIG_TEGRA_IOMMU_SMMU is not set
# CONFIG_TEGRA_WATCHDOG is not set
# CONFIG_TI_AEMIF is not set
# CONFIG_TI_CPSW is not set
# CONFIG_TI_PIPE3 is not set
# CONFIG_TOUCHSCREEN_ADC is not set
# CONFIG_TOUCHSCREEN_ATMEL_MXT is not set
# CONFIG_TOUCHSCREEN_MMS114 is not set
# CONFIG_TOUCHSCREEN_ST1232 is not set
# CONFIG_TOUCHSCREEN_STMPE is not set
# CONFIG_TOUCHSCREEN_WM97XX is not set
# CONFIG_TWL4030_USB is not set
# CONFIG_TWL6030_USB is not set
# CONFIG_UNIPHIER_THERMAL is not set
# CONFIG_USB_CHIPIDEA is not set
# CONFIG_USB_CHIPIDEA_HOST is not set
# CONFIG_USB_CHIPIDEA_UDC is not set
# CONFIG_USB_CONFIGFS is not set
# CONFIG_USB_CONFIGFS_ACM is not set
# CONFIG_USB_CONFIGFS_ECM is not set
# CONFIG_USB_CONFIGFS_ECM_SUBSET is not set
# CONFIG_USB_CONFIGFS_EEM is not set
# CONFIG_USB_CONFIGFS_F_FS is not set
# CONFIG_USB_CONFIGFS_F_HID is not set
# CONFIG_USB_CONFIGFS_F_LB_SS is not set
# CONFIG_USB_CONFIGFS_F_MIDI is not set
# CONFIG_USB_CONFIGFS_F_PRINTER is not set
# CONFIG_USB_CONFIGFS_F_UAC1 is not set
# CONFIG_USB_CONFIGFS_F_UAC1_LEGACY is not set
# CONFIG_USB_CONFIGFS_F_UAC2 is not set
# CONFIG_USB_CONFIGFS_F_UVC is not set
# CONFIG_USB_CONFIGFS_MASS_STORAGE is not set
# CONFIG_USB_CONFIGFS_NCM is not set
# CONFIG_USB_CONFIGFS_OBEX is not set
# CONFIG_USB_CONFIGFS_RNDIS is not set
# CONFIG_USB_CONFIGFS_SERIAL is not set
# CONFIG_USB_DWC2 is not set
# CONFIG_USB_DWC3 is not set
# CONFIG_USB_EHCI_EXYNOS is not set
# CONFIG_USB_EHCI_HCD_STI is not set
# CONFIG_USB_EHCI_TEGRA is not set
# CONFIG_USB_FSL_USB2 is not set
# CONFIG_USB_HSIC_USB3503 is not set
# CONFIG_USB_INVENTRA_DMA is not set
# CONFIG_USB_ISP1301 is not set
# CONFIG_USB_ISP1760 is not set
# CONFIG_USB_LAN78XX is not set
# CONFIG_USB_MUSB_AM35X is not set
# CONFIG_USB_MUSB_DSPS is not set
# CONFIG_USB_MUSB_OMAP2PLUS is not set
# CONFIG_USB_MUSB_TUSB6010 is not set
# CONFIG_USB_MUSB_UX500 is not set
# CONFIG_USB_MXS_PHY is not set
# CONFIG_USB_NET_SMSC75XX is not set
# CONFIG_USB_NET_SMSC95XX is not set
# CONFIG_USB_OHCI_EXYNOS is not set
# CONFIG_USB_OHCI_HCD_STI is not set
# CONFIG_USB_PEGASUS is not set
# CONFIG_USB_R8A66597_HCD is not set
# CONFIG_USB_RENESAS_USBHS is not set
# CONFIG_USB_RENESAS_USBHS_UDC is not set
# CONFIG_USB_RTL8152 is not set
# CONFIG_USB_TI_CPPI41_DMA is not set
# CONFIG_USB_TUSB_OMAP_DMA is not set
# CONFIG_USB_UX500_DMA is not set
# CONFIG_USB_XHCI_HCD is not set
# CONFIG_USB_XHCI_MVEBU is not set
# CONFIG_USB_XHCI_TEGRA is not set
# CONFIG_V4L_TEST_DRIVERS is not set
# CONFIG_VF610_ADC is not set
# CONFIG_VIDEO_ADV7180 is not set
# CONFIG_VIDEO_ATMEL_ISI is not set
# CONFIG_VIDEO_EXYNOS4_FIMC_IS is not set
# CONFIG_VIDEO_EXYNOS_FIMC_LITE is not set
# CONFIG_VIDEO_ML86V7667 is not set
# CONFIG_VIDEO_RCAR_VIN is not set
# CONFIG_VIDEO_RENESAS_FDP1 is not set
# CONFIG_VIDEO_RENESAS_JPU is not set
# CONFIG_VIDEO_RENESAS_VSP1 is not set
# CONFIG_VIDEO_S5P_FIMC is not set
# CONFIG_VIDEO_S5P_MIPI_CSIS is not set
# CONFIG_VIDEO_SAMSUNG_EXYNOS4_IS is not set
# CONFIG_VIDEO_SAMSUNG_EXYNOS_GSC is not set
# CONFIG_VIDEO_SAMSUNG_S5P_CEC is not set
# CONFIG_VIDEO_SAMSUNG_S5P_JPEG is not set
# CONFIG_VIDEO_SAMSUNG_S5P_MFC is not set
# CONFIG_VIDEO_STI_BDISP is not set
# CONFIG_VIDEO_STI_DELTA is not set
# CONFIG_VIDEO_STI_HVA is not set
# CONFIG_VIDEO_STM32_DCMI is not set
# CONFIG_VIDEO_V4L2_SUBDEV_API is not set
# CONFIG_VIDEO_VIVID is not set
# CONFIG_WLAN_VENDOR_ADMTEK is not set
# CONFIG_WLAN_VENDOR_ATH is not set
# CONFIG_WLAN_VENDOR_ATMEL is not set
# CONFIG_WLAN_VENDOR_BROADCOM is not set
# CONFIG_WLAN_VENDOR_CISCO is not set
# CONFIG_WLAN_VENDOR_INTEL is not set
# CONFIG_WLAN_VENDOR_INTERSIL is not set
# CONFIG_WLAN_VENDOR_MARVELL is not set
# CONFIG_WLAN_VENDOR_MEDIATEK is not set
# CONFIG_WLAN_VENDOR_QUANTENNA is not set
# CONFIG_WLAN_VENDOR_RALINK is not set
# CONFIG_WLAN_VENDOR_REALTEK is not set
# CONFIG_WLAN_VENDOR_RSI is not set
# CONFIG_WLAN_VENDOR_ST is not set
# CONFIG_WLAN_VENDOR_TI is not set
# CONFIG_WLAN_VENDOR_ZYDAS is not set
# CONFIG_XILINX_DMA is not set
# CONFIG_XILINX_EMACLITE is not set
# CONFIG_XILINX_WATCHDOG is not set
# CONFIG_XILINX_XADC is not set
